{% if places_top %}
    <ul>
    {% for place in places_top %}
        <li>
            {{ place.city_name }},
            {{ place.id }}
            {{ place.city_country }}
            <!--<a href = "/places/{{datetime}}/">-->
                {{ place.city }},
                {{ place.month }},
                {{ place.temperature }}, 
                {{ place.precipitation }}
            <!--</a>-->
            
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No details for this city! </p>
{% endif %}